.posters: {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.poster {
    max-width: 375px;
    max-height:;
    overflow: hidden;
}

.poster img {
  max-width: initial; /* Maybe optional. See note below */
}