<!DOCTYPE html>
<html>
  <head>
    <title>List of videos</title>
  </head>

  <body>
    <h1>Videos</h1>

    <ul>
      {% for video_id in video_ids %}
        <li>
          <a href="/watch/{{video_id}}">{{ video_id }}</a>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>