<!DOCTYPE html>
<html>
  <head>
    <title>List of videos</title>
  </head>

  <body>
    <h1>Videos</h1>

    <li>
      {% for video_id in video_ids %}
        <ul><a href="/watch/{{video_id}}">{{ video_id }}</a></ul>
      {% endfor %}
    </li>
  </body>  
</html>