<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <!-- Plyr dependencies -->
    <script src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />

    <!-- Dash.js dependencies -->
    <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const source = '{{ dash_mpd_url }}';

        // For more dash options, see https://github.com/Dash-Industry-Forum/dash.js
        const dash = dashjs.MediaPlayer().create();
        const video = document.querySelector('video');

        //dash.getDebug().setLogToBrowserConsole(false);
        dash.initialize(video, source, true);

        // Update caption tracks after initializing Plyr to get the generated captions
        // For more options see: https://github.com/sampotts/plyr/#options
        const player = new Plyr(video, {captions: {active: true, update: true}});

        // Expose player and dash so they can be used from the console
        window.player = player;
        window.dash = dash;
      });
    </script>
  </head>

  <body>
    <video id="player" playsinline controls data-poster="/path/to/poster.jpg">
      <!--<source src="test-video.webm" type="video/webm" />-->
      <!--<source src="//" type="video/mp4" /> -->

      <!-- Captions are optional -->
      <!-- TODO track captions later? -->
      <!--<track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default />-->
    </video>
  </body>
</html>